.App {
  text-align: center;
  background-color: #d7e5ef;
  height: 100vh;
}

.weather-card {
  background: white;
  padding: 10px;
  width: 185px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.weather-cards {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-input {
  padding-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-input input {
  border: none;
  padding: 8px;
  border-radius: 5px;
}

.search-input button {
  padding: 8px;
  border: none;
  background: #059905;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}